<IfModule mod_rewrite.c>

#<IfModule mod_rewrite.c>
    RewriteEngine On

    #<IfModule mod_vhost_alias.c>
      #RewriteBase web/
    #</IfModule>

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ app_dev.php [QSA,L]
#</IfModule>
<!-----------must read----------->
if you are on different system first seet overide all ten put command:

sudo a2enmod rewrite

<!----mustread--------->
